@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,700&display=swap");
.noto-sans {
	font-family: 'Noto Sans KR', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.roboto {
	font-family: 'Roboto', sans-serif;
}

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');


/*@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local(※), url(../fonts/NotoSansKR-Light.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local(※), url(../fonts/NotoSansKR-Medium.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local(※), url(../fonts/NotoSansKR-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: local(※), url(../fonts/NotoSansKR-Bold.woff) format("woff");
}*/
